<div>
    <h2 id="page-heading">
        <span jhiTranslate="djibGateApp.checkpoints.home.title">Checkpoints</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-checkpoints" [routerLink]="['/checkpoints/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="djibGateApp.checkpoints.home.createLabel">
            Create a new Checkpoints
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="checkpoints?.length === 0">
        <span jhiTranslate="djibGateApp.checkpoints.home.notFound">No checkpoints found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="checkpoints && checkpoints.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelle"><span jhiTranslate="djibGateApp.checkpoints.libelle">Libelle</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="note"><span jhiTranslate="djibGateApp.checkpoints.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="checkup.id"><span jhiTranslate="djibGateApp.checkpoints.checkup">Checkup</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let checkpoints of checkpoints ;trackBy: trackId">
                    <td><a [routerLink]="['/checkpoints', checkpoints.id, 'view']">{{ checkpoints.id }}</a></td>
                    <td>{{ checkpoints.libelle }}</td>
                    <td>{{ checkpoints.note }}</td>
                    <td>
                        <div *ngIf="checkpoints.checkup">
                            <a [routerLink]="['/checkup', checkpoints.checkup?.id, 'view']" >{{ checkpoints.checkup.libelle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/checkpoints', checkpoints.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/checkpoints', checkpoints.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(checkpoints)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="checkpoints && checkpoints.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
